---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Vision from '../components/Vision.astro';
---

<Layout title="Vision - One Nation">
	<Header />
	<main>
		<Vision />
	</main>
</Layout>